@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500&display=swap');

:root{
    --color-white: #fff;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    /* font-family: 'Montserrat', sans-serif; */
}

.main-bg{
    min-height: 100%;
    background-image: url(../img/main_bg3.svg);
    background-size: cover;
    background-position: center center center center ;
    color: var(--color-white);
    background-repeat: no-repeat;
    height: 100vh;
}

.section{
    min-height: 100vh;
}

.main-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
}

img{
    width: 10vw;
}

.menu{
    background-color: var(--color-white);
    position: fixed;
}